

#banner {
    width: 100%;
}

#missão{ 
    font-size: 20px;
}


h1{
    text-align: center
    ;
}
em strong {
    color: darkgreen
 }  

 .imagembenefícios {

    width:50%
    
    
    
    }