

#banner {
    width: 100%;
}

#missão{ 
    font-size: 20px;
}


em strong {
    color: darkgreen
 }  

 .imagembenefícios {

    width:50%}
.titulocentraliza{
text-align: center;

}